.form-field {
    padding: 0px 0px 15px 0px ;
    font-weight: bold;
}

.next-bt {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

.field {
    margin: 10px 0px 5px 0px;
}

